@model Tuple<CourseInfo, FacultyModel>

@{
    ViewData["Title"] = "Create/Edit Course";
    if (ViewBag.sessiontype == "Admin")
    {
        Layout = "_Layout";
    }
    else if (ViewBag.sessiontype == "Editor")
    {
        Layout = "_LayoutEditor";
    }
    else if (ViewBag.sessiontype == "Viewer")
    {
        Layout = "_LayoutViewer";
    }
}
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using System.Collections.Generic;

<h2>@ViewBag.Title</h2>

<form>
    <div class="form-inline">
        <label for="Semester">Semester</label>
        <div class="text-center" id="Semester">
            @Html.DropDownListFor(a => a.Item1.Semester, new SelectList(Model.Item1.CourseList, "SemesterID","SemesterNameFromDirectory"), "Select Semester", new {@class="form-control"})
        </div>
        <label for="Course">Course</label>
        <div class="dropdown" id="CECourseDropDown">
            @Html.DropDownListFor(a => a.Item1.CourseList, new SelectList(Model.Item1.CourseList, "CourseNumberID", "CourseNameFromFile"), "Create New Course", new {@class="form-control"})
        </div>
        <label for="CourseName">Course Name</label>
        <div class="text-center" id="CECourseName">
            @Html.TextBoxFor(Model => Model.Item1.CourseName, new { @class = "form-control" })
        </div>
        <label for="CourseID">Course ID</label>
        <div class="text-center" id="CECourseID">
            @Html.TextBoxFor(Model => Model.Item1.CourseID, new { @class = "form-control" })
        </div>
            <label for="CourseSection" class="center-block">Course Section</label>
            <label for="InstructorName">Instructor Name</label>
            <div class="text-center" id="CEInstructorName">
                @Html.TextBoxFor(a => a.Item1.IntructorName, new { @class = "form-control" })
            </div>
            <label for="CampusLocation">Campus Location</label>

        <!--
            @@Html.HiddenFor(x => x.Item1.CourseID)
            @@foreach (var a in Model.Item1.CampusNames)
            {
                <div class="form-horizontal">
                    @@Html.RadioButtonFor(b => b.Item1.CampusLocation, a.CampusID) @@a.CampusName
                </div>
            }
        -->
        

            <label for="ClassroomSize">Classroom Size</label>
            @foreach (var a in Model.Item1.ClassroomStudentSize)
            {
                <div class="form-horizontal">
                    @Html.RadioButtonFor(b => b.Item1.ClassSize, a.ClassroomID) @a.ClassSize
                </div>
            }
    </div>
    <input type="submit" name="CreateEdit" value="Save" formaction=@Url.Action("CreateEditCourse") formmethod="post" class="btn btn-primary" />
    <input type="button" value="Cancel" id="crsCancel" onclick="window.location.href='CreateEdit';" class="btn btn-pr" />

</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<!--         <script src="~/js/LoadCourse.js" type="text/javascript"></script>  -->

<script type="text/javascript">
    $(function () {
        $('#CourseList').change(function () {
            if ($('#CourseList option:selected').text() !== 'Create New Course') {
                //var selected = window.location.protocol + '//' + window.location.host + '/' + 'Home/Data/Courses/' + $('#CourseList option:selected').text() + '.csv';
                var selected = $('#CourseList option:selected').text();


                $.post("@Url.Action("GetCourseValues", "Home")?val=" + selected, function (res) {
                    if (res.success === "true") {
                        $('#IntructorName').val(res.data.instructorName);
                        $('#CourseName').val(res.data.courseName);
                        $('#CourseID').val(res.data.courseID);
                        $('input[name = CampusLocation][value = ' + res.data.campusName + ']').prop('checked', true);
                        $('input[name=ClassSize][value=' + res.data.classroomSize + ']').prop('checked', true);
                    }
                });
            }
            else
            {
                $('#IntructorName').val("");
                $('#CourseName').val("");
                $('#CourseID').val("");
                $('input[name = CampusLocation][value = ' + 0 + ']').prop('checked', true);
                $('input[name=ClassSize][value=' + 0 + ']').prop('checked', true);
            }
        });
    })
</script>