﻿@{
    ViewData["Title"] = "CreateEditUser";
    if (ViewBag.sessiontype == "Admin")
    {
    Layout = "_Layout";
    }
    else if (ViewBag.sessiontype == "Editor")
    {
    Layout = "_LayoutEditor";
    }
    else if (ViewBag.sessiontype == "Viewer")
    {
    Layout = "_LayoutViewer";
    }
}
@using Microsoft.AspNetCore.Mvc; 
@using Microsoft.AspNetCore.Http;
@model JAGS.Models.UserModel
<p> Hello, @ViewBag.loginname</p>
<h2>Create/Edit User</h2>
@*<p>@ViewBag.debugtext</p>*@
<form>
    <div class="userform">
        <fieldset>
            <legend>User</legend>
            <div class="editor-label">
                @Html.DropDownListFor(m => m.selecteduser, new SelectList(ViewBag.listusers, "Value", "Text"), "-Select User to Edit-")
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @*Html.ValidationMessageFor(model => model.Password)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Type)
                @Html.RadioButtonFor(model => model.Type, 0, new { id = "Option0", data_val = "true", data_val_required = "Please select one option." })
                <label for="Option1">Admin</label>
                @Html.RadioButtonFor(model => model.Type, 1, new { id = "Option1", data_val = "true", data_val_required = "Please select one option." })
                <label for="Option1">Editor</label>
                @Html.RadioButtonFor(model => model.Type, 2, new { id = "Option2", data_val = "true", data_val_required = "Please select one option." })
                <label for="Option2">Viewer</label>


                
                @*Html.RadioButtonFor(model => model.Type, true) <text>Admin</text>
                @Html.RadioButtonFor(model => model.Type, false) <text>Viewer</text>*@
            </div>
            <input type="submit" name="CreateEdit" value="CreateEdit" formaction=@Url.Action("CreateEditUser") formmethod="post" class="btn btn-primary" />
            <input type="submit" name="CreateEdit" value="Delete" formaction@Url.Action("CreateEditUser") formmethod="post" class="btn btn-primary" />
        </fieldset>
    </div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
 $(function()
 {
      $("#selecteduser").change(function() 
        {
            var u = $("#selecteduser option:selected").text()
            $("#Username").val(u);
            if (u !== "") 
            {               
                $.post("@Url.Action("GetUserValues", "Home")?val=" + u, function(res) 
                {
                    if (res.success === "true") 
                    {
                        $("#Username").val(u);
                        if (res.data.usertype === "0")
                        {
                            $("#Option0").prop("checked",true);
                        }
                        else if (res.data.usertype === "1")
                        {
                            $("#Option1").prop("checked",true);
                        }
                        else if (res.data.usertype === "2")
                        {
                            $("#Option2").prop("checked",true);
                        }
                    } 
                    else 
                    {
                        alert("Error getting data!");
                    }
                });
            } 
        });
 });
</script>