﻿@{
    ViewData["Title"] = "CreateEditUser";
    Layout = "_Layout";
}
<<<<<<< HEAD
@using Microsoft.AspNetCore.Mvc; 
@using Microsoft.AspNetCore.Http;
@model JAGS.Models.UserModel
<h2>CreateEditUser</h2>

=======
<p> Hello, @ViewBag.loginname</p>
<h2>Create/Edit User</h2>
<form>
    <div class="userform">
        <fieldset>
            <legend>User</legend>
            <div class="editor-label">
                @Html.DropDownListFor(m => m.selecteduser, new SelectList(ViewBag.listusers, "Value", "Text"), "-Select User to Edit-")
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.RadioButtonFor(model => model.Type, true) <text>Admin</text>
                @Html.RadioButtonFor(model => model.Type, false) <text>Viewer</text>
            </div>
            <input type="submit" name="Create/Edit" value="Create/Edit" formaction=@Url.Action("CreateEditUser") formmethod="post" class="btn btn-primary" />
        </fieldset>
    </div>
</form>
>>>>>>> master
