@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using System.Collections.Generic;
@model CourseInfo
@{
    ViewData["Title"] = "Create/Edit Schedule";
    if (ViewBag.sessiontype == "Admin")
    {
    Layout = "_Layout";
    }
    else if (ViewBag.sessiontype == "Editor")
    {
    Layout = "_LayoutEditor";
    }
    else if (ViewBag.sessiontype == "Viewer")
    {
    Layout = "_LayoutViewer";
    }
}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
<script src="~/js/moment.min.js"></script>
<script src="~/js/fullcalendar.js"></script>
<script src="~/js/site.js"></script>
@*<script src="http://underscorejs.org/underscore-min.js"</script>*@


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<h2>Create Edit Schedule</h2>
<div id='wrap'>
    <div class="form-inline">
    <div class="SemesterAndLabel">
    <label for="Semester">Semester</label>
        <div class="text-center" id="Semester">
            @Html.DropDownListFor(a => a.Semester, new SelectList(Model.Semester, "Value","Text"), "Select Semester", new {@class="form-control"})
        </div>
         <!--TODO: Add dropdown for subject-->     
                <div id='wrap'>
        <div id='external-events'>
            <div id='external-events-listing'>
                <h4>Courses</h4>
                <div class='fc-event'>My Event 1</div>
                <div class='fc-event'>My Event 2</div>
                <div class='fc-event'>My Event 3</div>
                <div class='fc-event'>My Event 4</div>
                <div class='fc-event'>My Event 5</div>
            </div>
            <p>
                <input type='checkbox' id='drop-remove'  checked='checked'/>
                <label for='drop-remove'>remove after drop</label>
            </p>
        </div>

        <div id='calendar' class="pull-left"></div>

        <div style='clear:both'></div>

    </div>
        <br>
    <div class="scheduleButtons">
        <input type="button" value="Save" id="SaveButton"><br>
        <input type="button" value="Clear"><br>
        <input type="button" value="Export schedule" id="ExportButton"><br>
    </div>
 <div class="scheduleErrors">
        Conflicts 
    </div>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
<script>
  //function myFunction(){
  //  alert("hello world");
  //  var Array = $('#calendar').fullCalendar(‘clientEvents’);
    //alert(Array[0].title);
  //  };
</script>            
<script type="text/javascript">
 $(function()
 {    
      $('#SaveButton').click(function()
        {
            //alert("SUCCESS");
            //var calNode = document.getElementByID('calendar');
            var name = $("#Semester option:selected").text();
            //var semester = {
                SEMname = $("#Semester option:selected").text();
                calendarevents = $("#calendar").fullCalendar("clientEvents")
                alert(JSON.stringify(calendarevents[0].title))
                //};
            let json = JSON.stringify($("#calendar").fullCalendar("clientEvents").map(e => ({
                start: e.start,
                end: e.end,
                title: e.title,
                name: SEMname
            })));
            //alert(json);
            $.post("@Url.Action("SaveSemesterValues", "Home")?val=" + json, function(ressave){});
            //alert(CalendarEvents[0].title);
            //alert(CalendarEvents[0].start);
        });

      $('#ExportButton').click(function()
        {
            //alert("SUCCESS");
            var name = $("#Semester option:selected").text();
            SEMname = $("#Semester option:selected").text();
            calendarevents = $("#calendar").fullCalendar("clientEvents")
            var u = $("#Semester option:selected").text()
            let json = JSON.stringify($("#calendar").fullCalendar("clientEvents").map(e => ({
                start: e.start,
                end: e.end,
                title: e.title,
                name: SEMname
            })));
            //alert(json);
            $.post("@Url.Action("ExportCalendar", "Home")?val=" + u, function(resexport){
                   //var jsonpath = JSON.parse(resexport[0]);
                   //alert(resexport[0]);
                   //alert(resexport.filepath);
                   //alert(resexport.success);

                   window.open(resexport.filepath);
                });


        });


      //execute on change of semester drop down
      $("#Semester").change(function() 
        {
                //alert("it works");
                //get selected value from semester dropdown
                var loadevents = [];
                var u = $("#Semester option:selected").text()             
                //call getsectionvalues in homecontroller and pass value selected
                $.post("@Url.Action("GetSectionValues", "Home")?val=" + u, function(res) 
                {
                    //var JSsections = '@ViewBag.sections'
                    //if function suceeds then do the following
                    if (res.success === "true") 
                    {
                        //alert(res.data);
                        //parse data from return
                        var resultjson = JSON.parse(res.data);

                        //remove all external event divs
                        var myNode = document.getElementById('external-events-listing');
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                        //get element for which we are going to append div items
                        var externalevents = document.getElementById('external-events-listing');
                        //create div for each section
                        for(i in resultjson) {
                            var innerdiv = document.createElement("div");
                            innerdiv.className = "fc-event";
                            innerdiv.innerHTML = resultjson[i];
                            //alert(resultjson[i]);
                            var externalevents = document.getElementById('external-events-listing')
                            externalevents.appendChild(innerdiv);
                            };

                        $('#external-events .fc-event').each(function() {

                        // store data so the calendar knows to render an event upon drop
                        $(this).data('event', {
                            title: $.trim($(this).text()), // use the element's text as the event title
                            stick: true, // maintain when user navigates (see docs on the renderEvent method)
                            });

                        // make the event draggable using jQuery UI
                        $(this).draggable({
                        zIndex: 999,
                        revert: true,      // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                            });

                        });
                        $.post("@Url.Action("GetSemesterEvents", "Home")?val=" + u, function(result) 
                        {
                            $('#calendar').fullCalendar('removeEvents');
                            for (let i = 0; i < result.data.length; i++) {

                                mytitle = String(result.data[i].title);
                                mystart = moment(result.data[i].start);
                                myend = moment(result.data[i].end);
                                var myevent = {
                                //loadevents.push({
                                    title: mytitle,
                                    start: mystart,
                                    end: myend,
                                    allDay: false
                                };
                                $('#calendar').fullCalendar( 'renderEvent', myevent, true);
                            //$('#calendar').fullCalendar({
                            //    events: loadevents
                            //    });
                            }
                        });

                    } 
                    else 
                    {
                        alert("Error getting data!");
                    }
                    });

                    
        });


 });
</script>
