@{
    ViewData["Title"] = "Home Page";
    Layout = "_Login";
}

@model JAGS.Models.LoginModel


@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
    <h2>@ViewBag.ErrorMessage</h2>
}
