@{
    ViewData["Title"] = "Home Page";
}

@model JAGS.Models.LoginModel


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}
